.project-card {
  max-width: 100%;
  display: block;
  height: auto;
  background-color: rgba(233, 233, 233, 0.887);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
  padding: 1.5rem;
  margin: 3rem 1rem;
  border-radius: 0 40px 0 40px;
  border: 1px solid rgba(209, 209, 209, 0.397);
  transition: all 0.5s ease-in-out;
}

.productinfo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-card:hover {
  box-shadow: rgba(255, 255, 255, 0.84) 10px 20px 30px -10px;
}

.project-card .projectImage {
  display: block;
  padding-right: 3rem;
  width: auto;
  height: auto;
}

.project-card .projectImage img {
  max-width: inherit;
  width: inherit;
  height: 200px !important;
}

.project-card .projectDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start ;
}

.project-card .projectDetails .projectTitle {
  color: #000000;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 2rem 0rem;
}

.project-card .projectDetails .projectSubtitle {
  color: #302f2f;
  font-size: 1rem;
  line-height: 1.7rem;
  padding: 1rem 0rem;
}

.project-card .projectFooter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.project-card .projectFooter span.certificate-tag {
  background: #010102d9;
  color: #f5f2f4;
  border-radius: 0.5rem;
  font-size: 1rem;
  height: 3rem;
  line-height: 1.5;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

span.certificate-tag:hover {
  background: #c3c1c1bd;
}

@media (max-width: 500px) {
  .project-card {
    padding: 0.5rem;
  }
  .project-card .projectFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .project-card .projectFooter span.certificate-tag {
    font-size: 0.75rem;
    height: 3rem;
    line-height: 1.5;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
  }

  .project-card .projectImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
  }
  
  .project-card .projectImage img {
    max-width: 200px;
    width: inherit;
    height: 200px !important;
  }
}