.about .title::after {
  content: "";
  background: black;
}

.about {
  overflow: hidden;
  background: black;
  color: rgb(207, 204, 204);
}


.column-left,.column-right{
  width: 50%;
}

.about .about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 40px 0 40px 0;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right .text span {
  color: crimson;
}

.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

.about .about-content .right a:hover {
  color: crimson;
  background: none;
}

.about-main {
  padding: 2rem;
}

.about-main .about-text-div .subtitle:before {
  content: '';
  display: inline-block;
  width: 3rem;
}

.about-main .about-text-div p {
  white-space: pre-line;
  line-height: 1.5rem;
  color: rgb(210, 210, 210);
}

.about-text-div .aboutme-skills p {
  padding: 1rem 0rem;
  line-height: 1.5rem;
}


.skills .max-width > .title::after {
  content: "what I do";
  background: black;
}

.skills {
  overflow: hidden;
  background: black;
  color: #bbbbbb;
  font-family: Montserrat, "Montserrat", sans-serif;
}

.skills .skills-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3rem;
}

.skills .skills-content .left {
  margin: 0;
  padding: 1rem;
  width: 40%;
  line-height: 1.8rem;
}

.skills .skills-content .left .ptitle {
  font-size: 2.5rem;
  text-align: start;
  padding: 1rem 0rem 2rem 0rem;
}

.skills-content .left .skill {
  padding: 1rem 0rem;
  color: wheat;
}

.skills-content .left .skill p {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.skills-content .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0;
  width: 55%;
  line-height: 1.5rem;
}

.skills-content .left .subTitle {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  padding: 1rem 0rem;
  color: wheat;
}

.groupSkill > p {
  text-align: start;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: wheat;
  font-family: "Ubuntu", sans-serif;
}

@media (max-width: 1240px) {
  .skills-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .skills-content .left {
    width: 100% !important;
    margin: 0 auto;
    flex: 100%;
  }
  .skills .skills-content .right{
    width: 100%;
    margin-top: 2rem;
    flex: 100%;
  }
}

@media (max-width: 768px) {
  .skills-content {
    flex-direction: column;
  }
  .proficiency {
    line-height: 3rem;
    margin: 20px;
  }
  .skills-image {
    display: none;
    order: 2;
  }
}

@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .skills-image-div {
    order: 2;
  }
}

@media (max-width: 500px) {
  .skills {
    padding: 3rem 1rem;
  }
  .about .about-content .left {
    padding: 0;
    margin: 0 auto;
  }
  .about .about-content .left img {
    width: 100%;
    height: 100%;
  }
}


.meter {
  height: 20px;
  position: relative;
  background: rgb(255, 174, 174);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #df2727;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1104px) {
  .about .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about .about-content .right{
    margin-top: 2rem;
    flex: 100%;
  }
}

@media (max-width: 500px) {
  .about {
    padding: 3rem 1rem;
  }
  .about .about-content .left{
    padding: 0;
    margin: 0 auto;
  }
  .about .about-content .left img {
    width: 100%;
    height: 100%;
  }
}

.fadeRight {
  direction: "left";
}