.experience-card {
    display: flex;
    flex-direction: row;
  }
  
  .experience-card:hover + .experience-card-border {
    border-color: #a9a7f9;
    width: 100%;
    -webkit-transition: width 0.6s ease-in-out;
    -moz-transition: width 0.6s ease-in-out;
    -o-transition: width 0.6s ease-in-out;
    transition: width 0.6s ease-in-out;
  }
  
  .experience-card-border {
    height: 30px;
    width: 80%;
    border-top: 2px solid rgba(211, 211, 211, 0.397);
    margin-bottom: 20px;
    -webkit-transition: width 0.6s ease-in-out;
    -moz-transition: width 0.6s ease-in-out;
    -o-transition: width 0.6s ease-in-out;
    transition: width 0.6s ease-in-out;
  }
  
  .experience-head {
    display: flex;
    flex-direction: row;
  }
  
  .experience-roundedimg {
    object-fit: cover;
    padding: 0.5rem;
    margin-right: 2rem;
    width: 8rem;
    height: 8rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    border-radius: 50%;
  }
  
  .experience-card-right {
    line-height: 2rem;
    max-width: 100%;
  }
  
  .experience-text-school {
    font-size: 2rem;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 1rem 0rem;
  }
  
  .experience-text-subHeader {
    color: #c4c4c4;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem 0rem 0rem 0rem;
  }
  
  .experience-text-duration {
    color: wheat;
    font-size: 1rem;
    padding: 1rem 0rem 0rem 0rem;
  }
  
  .experience-text-desc {
    color: wheat;
    font-size: 1rem;
    padding: 1rem 0rem;
  }
  
  .experience-text-bullets > ul {
    margin-top: 0.5rem;
  }
  
  @media (max-width: 1380px) {
    .experience-card {
      flex-direction: column;
      padding-bottom: 10px;
    }
    .experience-card-right {
      max-width: 90%;
    }
    .experience-card-border {
      width: 90%;
    }
    .experience-text-subHeader {
      padding-top: 0.5rem;
      font-size: 16px;
    }
    .experience-text-school {
      font-size: 20px;
    }
    .experience-text-duration {
      font-size: 16px;
    }
    .experience-roundedimg {
      width: 6rem;
      height: 6rem;
      margin-bottom: 0.5rem;
      margin-right: 0px;
    }
  }
  
  @media (max-width: 768px) {
    .experience-card {
      text-align: center;
    }
    .experience-card-right {
      max-width: 100%;
    }
    .experience-card-border {
      width: 100%;
    }
    .experience-roundedimg {
      margin-top: 10px;
      width: 6rem;
      height: 6rem;
      margin-bottom: 1rem;
      margin-right: 0;
    }
    .experience-text-bullets > ul {
      max-width: 80%;
      margin: auto;
    }
  }
  